[Desktop Entry]
Name=Verbiste
Name[fr]=Verbiste
Categories=Office;
Comment=French conjugation system
Comment[fr]=Système de conjugaison française
Exec=verbiste
Icon=verbiste
Terminal=false
Type=Application
